@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import 'rsuite/dist/rsuite-no-reset.min.css';
/* Default hsl(189, 100%, 69%)*/

:root {
  --hue: 189;
  --accent: hsl(var(--hue), 100%, 69%);
  --dark-accent: hsl(var(--hue), 100%, 30%);
  --title-font-size: 600%;
  --card-title-font-size: 250%;
  --card-desc-font-size: 100%;
  --card-tags-font-size: 100%;
  --landing-text-font-size: 5vw;
  --landing-about-intro-font-size: 2vw;
  --landing-about-font-size: 1.25vw;
  --landing-role-font-size: 1.7vw;
  --content-font-size: 200%;
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat';
  width: 100vw;
  overflow-x: hidden;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.accent {
  color: var(--accent);
}

.dark-accent {
  color: var(--dark-accent);
}
.accent2 {
  color: black;
}

.App {
  text-align: center;
  color: black;
  height: fit-content;
  width: 100vw;
}
.header-logo {
  margin-right: auto;
  font-size: 2em;
}

.header-logo > a {
  color: black;
  text-decoration: none;
}

/* .MobileHeader {
  top: 0;
  position: sticky;
  width: min-content;
  width: 100vw;
  z-index: 999;
  overflow-y: hidden;
  touch-action: none;
} */

/* .mobile-header-menu-btn {
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--accent);
  font-size: 200%;
  z-index: 1000;
  border: none;
  transition: 0.3s;
  transform: rotateZ(0deg);
} */
/* .mobile-header-menu-container {
  padding-top: 30px;
  width: 100vw;
  position: fixed;
  left: 100%;
  top: 0;
  transition: 1s;
  background-color: rgb(20, 20, 20);
  z-index: 999;
  height: 100vh;
} */

.Header {
  top: 0;
  right: 100%;
  position: sticky;
  z-index: 999;
}
/* .mobile-header-nav-bar {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding-inline: 10%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  overflow: hidden;
  margin: 0;
} */

.header-nav-bar {
  background-color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  overflow: hidden;
  margin: 0;
  padding-inline: 20px;
  /* margin-inline: 20px; */
}

/* .mobile-header-nav-item {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 20px;
  font-weight: 300;
  color: white;
  border: none;
  transition: 0.3s;
  font-size: 150%;
} */
/* .mobile-header-nav-item:hover {
  background-color: var(--accent);
  color: black;
} */
.header-nav-item {
  background-color: rgb(255,255,255);
  height: 100%;
  padding: 20px;
  /* font-weight: bold; */
  color: black;
  border: none;
  transition: 0.3s;
  font-size: 100%;
}
/* .header-nav-item:hover {
  background-color: var(--accent);
  color: black;
} */
/* .mobile-header-socials-container {
  display: flex;
  justify-content: center;
} */
.Landing {
  margin-top: 0px;
  width: 100vw;
  height: 90vh;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  /* padding: 5%; */
}
.landing-right{
  display: flex;
  flex-direction: column;
}
.svg-container {
  /* height: 95vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-left: 8%; */
  /* align-items: center; */
}
.svg-path {
  color: var(--accent);
}

/* .landing-white-bg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  transform: translate(0%, -50%);
}
.landing-color-bg {
  max-height: 95%;
  max-width: 95%;
  position: absolute;
  top: 40%;
  transform: translate(0%, -50%);
} */
.landing-portrait {
  max-height: 80%;
  max-width: 80%;
  /* transform: translate(0%, 100px); */
  /* padding-bottom: 50px; */
}

.landing-img-parallax-wrapper,
.landing-text-parallax-wrapper {
  box-sizing: border-box;
  /* height: 95vh; */
  width: 100%;
  position: relative;
  justify-content: center;
  /* padding-left: 5vw; */
  /* width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}
/* .landing-text-parallax-wrapper {
  padding-left: 3vw;
} */

.landing-text {
  position: absolute;
  transform: translate(0%, -50%);
  top: 30%;
  text-align: center;
  font-size: var(--landing-text-font-size);
  color: black;
}

.fly-in-left {
  opacity: 0; /* Start with the element invisible */
  animation: flyInFromLeft 1s ease-out forwards;
}

@keyframes flyInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End in the original position */
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.landing-about-intro {
  font-size: var(--landing-about-intro-font-size);
  margin: 5vh 0 0 0;
  font-weight: bold;
}

.landing-about {
  font-size: var(--landing-about-font-size);
  margin: 1.2vh 0 0 5vh;
  font-weight: bold;
}

.fly-in-bottom {
  opacity: 0; /* Start with the element invisible */
  animation: flyInFromBottom 1s ease-out forwards;
}

@keyframes flyInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%); /* Start off-screen at the bottom */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End in the original position */
  }
}

.landing-role {
  font-size: var(--landing-role-font-size);
  text-align: center;
  /* padding-left: 8%; */
}

.anim-typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black; /* Cursor */
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes hide-caret {
  from { border-color: black; }
  to { border-color: transparent; }
}

.anim-typewriter-done {
  animation: hide-caret 0.75s forwards;
}

.About {
  width: 100vw;
  min-height: 70vh;
  height: fit-content;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: black;
  transform: skewY(-8deg);
}

.about-introduction {
  font-size: var(--title-font-size);
  text-align: right;
  padding-left: 20px;
}

.about-break {
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  width: 80vw;
  display: none;
}

.about-description {
  padding-inline: 10%;
  font-size: 180%;
  text-align: left;
  font-weight: 300;
  padding-right: 20px;
}
.about-accent {
  color: var(--dark-accent);
  font-weight: 600;
}
.Experience {
  /* transform: skewY(-8deg); */
}
.experiences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.experience-title {
  font-size: var(--title-font-size);
}

.ExperienceCard {
  box-sizing: border-box;
  width: 450px;
  /* height: 300px; */
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-rows: 1fr 3fr auto 1fr;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  transition: 0.5s;
}

.experience-card-title {
  color: var(--accent);
  font-size: var(--card-title-font-size);
  text-align: right;
  font-weight: 300;
  margin: 0;
}

.experience-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-card-description {
  text-align: left;
  align-self: center;
  max-height: 1000px;
  font-weight: 300;
  font-size: var(--card-desc-font-size);
}

.experience-card-tags {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  font-weight: 400;
}

.experience-card-tag {
  font-size: var(--card-tags-font-size);
  padding-inline: 8px;
  border-left: solid;
  border-color: var(--accent);
  align-self: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.experience-card-tag-content {
  display: inline-block;
}

.experience-card-collapse {
  max-height: 0;
  overflow: hidden;
  font-weight: 300;
  font-size: var(--card-desc-font-size);
  color: black;
  transition: max-height 0.7s;
  margin-bottom: 20px;
}

.experience-card-tag:first-child {
  border-left: none;
}

.ExperienceCard:hover {
  transform: scale(1.05);
  background-color: var(--accent);
  color: black;
}

.ExperienceCard:hover > .experience-card-title {
  color: white;
}

.ExperienceCard:hover .experience-card-tag {
  border-color: white;
}

.ExperienceCard:hover .experience-card-collapse {
  max-height: 1000px;
}

.Projects {
  background-color: hsl(var(--hue), 100%, 90%);
  padding-bottom: 10vw;
}
.projects-title {
  color: black;
  font-size: var(--title-font-size);
}
.projects {
  padding-inline: 10%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
}

.ProjectCard {
  grid-column: span 2;
  box-sizing: border-box;
  overflow-wrap: break-word;
  min-height: 300px;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-rows: 1fr 3fr auto 1fr;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  transition: 0.5s;
}
.ProjectCard-w-spacer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.project-card-title {
  color: var(--accent);
  font-size: var(--card-title-font-size);
  text-align: right;
  font-weight: 300;
  margin: 0;
}

.project-card-description {
  width: 90%;
  font-size: var(--card-desc-font-size);
  text-align: left;
  align-self: center;
  font-weight: 300;
  margin-block: 20px;
}

.project-card-collapse {
  max-height: 0;
  overflow: hidden;
  font-weight: 300;
  font-size: var(--card-desc-font-size);
  color: black;
  transition: max-height 0.7s;
  margin-bottom: 20px;
}

.project-card-tags {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  row-gap: 10px;
  margin: 0;
  font-weight: 400;
  width: 100%;
}

.project-card-tag {
  font-size: var(--card-tags-font-size);
  padding-inline: 8px;
  border-left: solid;
  border-color: var(--accent);
  align-self: center;
}

.project-card-tag:first-child {
  border-left: none;
}

.ProjectCard:hover {
  transform: skewY(-5deg) scale(1.05);
  background-color: var(--accent);
  color: black;
}

.ProjectCard:hover > .project-card-title {
  color: white;
}

.ProjectCard:hover .project-card-tag {
  border-color: white;
}

.ProjectCard:hover .project-card-collapse {
  max-height: 1000px;
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  position: fixed;
  row-gap: 10vh;
  top: 0%;
  left: 100%;
  transform: translate(-100%, 50%);
  text-align: center;
}

.social-media-icon {
  color: white;
  margin: 20px;
  font-size: 200%;
  transition: 0.5s;
}

.social-media-icon:hover {
  color: var(--accent);
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  user-select: none;
}
.slider {
  /* padding-inline: 10px; */
  width: 180px;
  user-select: none;
}
/* input[type='range']::-webkit-slider-runnable-track {
  background: var(--accent); 
  height: 7.5px;
  background: linear-gradient(
    90deg,
    hsl(0, 100%, 69%) 0%,
    hsl(36, 100%, 69%) 10%,
    hsl(72, 100%, 69%) 20%,
    hsl(108, 100%, 69%) 30%,
    hsl(144, 100%, 69%) 40%,
    hsl(180, 100%, 69%) 50%,
    hsl(216, 100%, 69%) 60%,
    hsl(252, 100%, 69%) 70%,
    hsl(288, 100%, 69%) 80%,
    hsl(324, 100%, 69%) 90%,
    hsl(360, 100%, 69%) 100%
  );
}

input[type='range']::-webkit-slider-thumb {
  // cursor: -webkit-grabbing; 
  color: var(--accent);
} */

.Contact-w-border {
  color: var(--accent);
  position: relative;
  /* transform: translateY(-130px) */
}
.wave {
  width: 100vw;
  height: auto;
  position: absolute;
  /* color: red; */
  top: 0%;
  left: 0%;
  z-index: 99;
  transform: translateY(-100%);
}
.Contact {
  background-color: var(--accent);
  min-height: 30vh;
  height: fit-content;
  color: var(--dark-accent);
  margin: 0;
  padding-block: 50px;
  /* padding-top: 50px; */

  /* transform: translateY(-100px); */
}
.contact-title {
  font-size: 200%;
  text-align: center;
  /* padding-top: 150px; */
  margin: 0;
}

.contact-content {
  box-sizing: border-box;
  font-size: var(--content-font-size);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 50px;
  padding-top: 50px;
  height: fit-content;
}
.contact-subheaders {
  font-weight: 700;
}
.contact-email,
.contact-phone {
  text-align: left;
}

.contact-social-media-icon {
  color: var(--dark-accent);
  margin: 20px;
  font-size: 120%;
  transition: 0.5s;
}

.social-icons {
  margin-top: 20px; /* Space between image and icons */
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 20px; /* Space between the icons */
}

.social-icons a {
  color: black; /* Icon color */
  font-size: 2em; /* Icon size */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.contact-socials {
  text-align: center; /* Centers the content within the div */
  margin-top: 2vh; /* Adds space between the image and the socials section */
}

.contact-subheader {
  margin-bottom: 10px; /* Adds space between the subheader and the icons */
}

.contact-social-media-icon {
  margin: 0 10px; /* Adds horizontal spacing between icons */
  font-size: 2em; /* Adjusts the size of the icons */
  color: black; /* Sets the color of the icons */
  transition: color 0.3s ease; /* Smooth transition on hover */
}

.rs-timeline-item-content > *{
	margin: 0;
}
.rs-timeline-item-content > ul{
	padding-inline-start: 20px;
}
.rs-timeline-item-content > ul > li{
	list-style: disc;
	margin-block:5px;
}

.rs-timeline-item-last > .rs-timeline-item-dot::before,
.rs-timeline-item-dot::before,
.rs-timeline-item-tail {
  background-color: var(--dark-accent);
}
.rs-timeline-item-tail, .rs-timeline-item:last-child > .rs-timeline-item-tail {
	height: 100%
}
@media only screen and (max-width: 650px) {
  :root {
    --title-font-size: 300%;
    --card-title-font-size: 200%;
    --card-desc-font-size: 100%;
    --card-tags-font-size: 100%;
    --landing-text-font-size: 170%;
    --landing-role-font-size: 70%;
    --content-font-size: 80%;
  }

  .App {
    overflow-x: hidden;
  }

  .header-logo {
    margin: auto;
  }

  .Landing {
    margin-top: 20px;
    height: 95vh;
  }
  .svg-container {
    width: 100vw;
  }
  .landing-white-bg {
    width: 100%;
    height: auto;
  }
  .landing-color-bg {
    width: 95%;
    height: auto;
  }
  .landing-portrait {
    width: 55%;
    height: auto;
    margin-bottom: 20px;
  }
  .landing-text-parallax-wrapper {
    width: 75%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 25%;
  }
  .landing-text {
    display: block;
    position: relative;
    height: 100%;
    text-align: right;
    right: 10%;
  }
  .landing-introduction {
    margin-block: 0px;
    padding-top: 0%;
    animation:
      fade cascade right
  }
  .landing-name {
    margin-block: 10px;
  }
  .landing-role {
    margin-block: 10px;
    position: absolute;
    width: max-content;
    top: 75%;
    transform: translate(0%, -50%);
  }

  .About {
    grid-template-columns: 1fr;
  }
  .about-introduction {
    transform: translateX(-20%);
  }
  .about-break {
    display: block;
  }
  
  .about-description {
	margin: 10px;
    font-size: 120%;
  }

  .SocialMedia {
    display: none;
    transform: translate(-100%, 0%);
  }

  .slider-container {
    flex-direction: column-reverse;
    padding-inline: 5pxt;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .project-placeholder {
    display: none;
  }
  .ProjectCard-w-spacer{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	
}
  .ProjectCard:hover {
    transform: scale(1.05);
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-email,
  .contact-phone {
    text-align: center;
  }
  .contact-social-media-icon {
    font-size: 200%;
  }
}
